<h1>編集画面</h1>

<%= form_for(@book, url: book_path(@book)) do |f| %>
<!--エラーメッセージ-->
<% if @book.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@book.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
<% end %>

    <div><!--タイトル編集-->
        <%= f.label :title %><br>
        <%= f.text_field :title %>
    </div>
    <div><!--テキスト編集-->
        <%= f.label :body %><br>
        <%= f.text_area :body %>
    </div>
    <div><%= f.submit "Update Book" %></div>
<% end %>

<p>
  <%= link_to 'Show', @book %>
  |
  <%= link_to 'Back', '/books' %>
</p>